$font-stack: "Roboto", sans-serif;

@use 'reset';

@mixin font-face($weight, $size, $lineHeight, $family, $letterSpacing, $color) {
  font: $weight #{$size}/#{$lineHeight} $family;
  letter-spacing: $letterSpacing;
  color: $color;
}

%flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// 2014 Material Design color pallettes
$indigo-a400: #3d5afe;
$gray-800: #424242;
$gray-600: #757575;
$blue-gray: #eceff1;
$white: #ffffff;

body {
  background-color: $blue-gray;
  #container {
    width: 700px;
    margin: 1rem auto 3em;
    background-color: $white;
    padding: 2rem;
    @extend %flex-column-center;
    section {
      width: 540px;
      margin-top: 1rem;
    }
    h2 {
      @include font-face(700, 1.75rem, normal, $font-stack, 0px, $gray-800);
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    p {
      @include font-face(400, 1rem, 1.5rem, $font-stack, -0.4px, $gray-800);
      text-align: center;
    }
    a {
      @include font-face(400, 1rem, 0.5rem, $font-stack, -0.4px, $indigo-a400);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  footer {
    @include font-face(400, 1rem, 0.5rem, $font-stack, -0.4px, $gray-600);
    text-align: center;
  }
}
